
<footer>
   <div class="f-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">wonderhub private Limited</div>
      <div class="f-info-links" style="text-align:none;">
        <i class="fa-solid fa-copyright"></i>
        <a href="/privacy">Privacy</a>
        <a href="/terms">terms</a>
        
      </div>
   </div> 
</footer>